.mainBlock{
    margin: 0 64px;
}
.test1{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #19f6ff;
    top: 0;
    left: 0;
    z-index: -999;
}
.test2{
    display: flex;
    gap: 16px;
    background-color: #8A0041;
    margin: 0 auto;
    height: 200vh;
    width: 100%;
    z-index: 999;
    justify-content: center;
    align-items: center;
}
.test2 > div{
    width: 164px;
    height: 64px;
    background-color: #ff479e;
}
.spanSpan{
    position: relative;
    width: 128px;
    height: 128px;
    background-color: forestgreen;
    left: 64px;
}
.divFix{
    position: fixed;
    width: 128px;
    height: 128px;
    background-color: deeppink;
    z-index: 999;
    top: 0;
    left: 85%;
}
.Big {
    height: 200vh; /* Увеличенная высота для прокрутки */
    background-color: fuchsia;
    width: 100%;
    border: 16px solid #051dff;
    position: relative; /* Относительное позиционирование родителя */
}

.stickyDiv {
    position: sticky; /* Sticky позиционирование */
    top: 16px; /* Верхний отступ от границы контейнера */
    width: 128px;
    height: 128px;
    background-color: #ffaf00;
}
